{% load static %}
{% static "images" as baseUrl %}
<html>
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>MakeMyTrip</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'layout/styles/layout.css'%}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="fl_left">
      <ul class="nospace">
        <li><a href="">Home</a></li>
        {% if user.is_authenticated %}
        <li>Hello {{user.username}}</li>
        <li><a href="Accounts/Logout">Logout</a></li>
        {% else %}
        <li><a href="Accounts/Login">Login</a></li>
        <li><a href="Accounts/register">Register</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="fl_right">
      <ul class="nospace">
        <li><i class="fas fa-phone rgtspace-5"></i>+91 9765160978</li>
        <li><i class="fas fa-envelope rgtspace-5"></i>Makemytrip.com</li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="one_half first">
      <h1 class="logoname"><a href="index.html"><span>MakeMy</span>Trip</a></h1>
    </div>
    <div class="one_half">
      <ul class="nospace clear">
        <li class="one_half first">
          <div class="block clear"><i class="fas fa-phone"></i> <span><strong class="block">Call Us:</strong> +91 9765160978</span> </div>
        </li>
        <li class="one_half">
          <div class="block clear"><i class="far fa-clock"></i> <span><strong class="block"> Mon. - Sat.:</strong> 08.00am - 18.00pm</span> </div>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </header>
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Holidays Packages</h6>
    </div>
    <ul class="nospace group overview">
      {% for i in post %}
      <li class="one_third">
        <figure><a href="#"><img src="{{i.img.url}}" alt=""/></a>
          <figcaption>
            <h6 class="heading">{{i.title}}</h6>
            <p>{{i.desc}}</p>
          </figcaption>
        </figure>
      </li>
      {% endfor %}
    </ul>
  </main>
</div>
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <p class="fl_left">Copyright &copy; 2021- All Rights Reserved - <a href="#">Pratik Garud</a></p>
  </div>
</div>

<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>

<!-- JAVASCRIPTS -->
<script src="{% static 'layout/scripts/jquery.min.js'%}"></script>
<script src="{% static 'layout/scripts/jquery.backtotop.js'%}"></script>
<script src="{% static 'layout/scripts/jquery.mobilemenu.js'%}"></script>
</body>
</html>